/* CSS for "Getting Started with WxMpl and Matplotlib" (Media: Screen)
 *
 * Copyright 2005 Illinois Institute of Technology
 *
 * See the file "LICENSE" for information on usage and redistribution
 * of this file, and for a DISCLAIMER OF ALL WARRANTIES.
 */


body {
    width: 40em;
    margin-left: auto;
    margin-right: auto;

    color: #000;
    background-color: #fff;
    font-size: 14pt;
}

h1 {
    text-align: center;
    font-size: x-large;
}

h1 + p {
    margin-top: -0.5em;
    line-height: 1em;
    text-align: center;
    font-size: large;
}

h1 + p:first-line {
    line-height: 1.5em;
    font-size: x-large;
}

h2 {
    font-size: large;
}

h2 + p {
    margin-top: -0.75em;
}

a {
    border-width: 0 0 1px 0;
    border-style: dashed;

    color: #000;
    text-decoration: none;
}

a:hover {
    color: #f00;
}

p {
	line-height: 1.5em;
}

pre {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
	padding: 5px 0 5px 10px;

	border-width: 1px 0 1px 0;
	border-style: dashed;

    font-size: small;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-width: 0;
}

p > strong {
    display: block;
    width: 100%;

    margin-top: -1em;

    text-align: center;
    font-size: smaller;
}

br + strong {
    margin-top: -1.5em;
}

p > code, a > code {
    font-size: small;
}
